*{
    margin:10px
}
h1{
    text-align: center;
}
body {
    background-color: rgba(255, 0, 13, 0.295);
}
body:target {
    background-color: darkturquoise;
}
h2{
    font-size: 19px;
}
input {
    background: #6daadf;
    font-weight: bold;
    font-size: 1rem;
    color: white;
  }
  input:hover {
    background: lightgrey;
    color: black
  }
  img {
      width: 5%;
      height: 5%;
      object-fit: cover;
  clip-path: circle(50%);
  }
  table {
    border-collapse: collapse;
    margin: auto;
  }
  td{
      border:solid black 1px;
    width: 100px;
    height: 20px;
  }
  img{
      margin: auto;
  }